fastqs/*
*.fastq
*.bcf
*.trim.sub.fastq
*.sam
sub.tar.gz
results/*
data/*
trimmed_fastq_small/*
sam/*
bcf/*
results/sam/SRR2584863.aligned.sam
data/trimmed_fastq_small/SRR2589044_2.trim.sub.fastq
data/trimmed_fastq_small/SRR2584863_2.trim.sub.fastq
data/trimmed_fastq_small/SRR2584863_1.trim.sub.fastq
data/trimmed_fastq_small/SRR2589044_1.trim.sub.fastq
results/sam/SRR2589044.aligned.sam
data/trimmed_fastq_small/SRR2584866_1.trim.sub.fastq
data/trimmed_fastq_small/SRR2584866_2.trim.sub.fastq
results/sam/SRR2584866.aligned.sam
results/bcf/SRR2589044_raw.bcf
results/bcf/SRR2584866_raw.bcf
results/sam/SRR2584863.aligned.sam
results/bcf/SRR2584863_raw.bcf